/* Variables: */
:root {
    --color-light: rgb(240, 240, 240);
    --color-dark: rgb(40, 40, 40);
    --font-primary: 'Raleway', sans-serif;
}

/* Universal: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-light);
    width: 100vw;
    height: 100vh;
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.edit-container {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

/* Edit Button */
.edit-btn {
    background-color: rgb(198, 198, 198);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all .3s;
}

.edit-btn > i {
    font-size: 24px;
    color: white;
}

.edit-btn:hover {
    cursor: pointer;
    transform: scale(120%);
}


/* Profile Card */
.container {
    background-color: white;
    width: 400px;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-bottom: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container > i {
    font-size: 120px;
    transform: translateY(20px);
    color: gray;
}

.user-info > h1 {
    margin-bottom: 8px;
}

.location {
    color: gray;
    width: 100%;
    min-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location > i {
    font-size: 14px;
    margin-right: 8px;
}


.user-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-box {
    background-color: gray;
    width: 200px;
    height: 60px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s;
}

.link-box:first-child {
    margin-top: 30px;
}

.link-box:hover {
    transform: scale(110%);
}

.link-box > i {
    font-size: 35px;
    color: white;
}






/* Modal */
.modal-background {
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}

.edit-modal-container {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.close-modal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.close-modal > i {
    font-size: 30px;
}

.close-modal:hover {
    cursor: pointer;
    transform: scale(110%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.edit-modal {
    background-color: white;
    width: 500px;
    max-height: 100vh;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.edit-container-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit-container-content > .modal-header {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.modal-input-container {
    max-height: 400px;
    overflow-y: scroll;
}

.input-box {
    width: 80%;
    height: 60px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}

#chooseFileBtn {
    background-color: rgb(108, 108, 108);
    color: white;
    width: 280px;
    margin: 10px auto;
    margin-bottom: 30px;
    padding: 15px 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chooseFileBtn:hover {
    cursor: pointer;
    filter: brightness(95%);
}

#chooseFileBtn > i {
    margin-right: 10px;
}

.input-box > h4 {
    width: 120px;
    font-size: 24px;
    margin-right: 14px;
}

input[type="text"] {
    padding: 10px 20px;
    font-size: 18px;
    min-width: 280px;
}

.modal-input-container > h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}

.add-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-links-container > input[type="text"] {
    max-width: 200px;
    min-width: 200px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.add-links-box {
    width: 200px;
    height: 60px;
    min-height: 60px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s;
}

.add-links-box:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.add-links-box > i {
    font-size: 35px;
}

.modal-footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    font-family: var(--font-primary);
    font-size: 20px;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: all .3s;
}

.btn-negative {
    color: gray;
}

.btn-positive {
    background-color: rgb(108, 108, 108);
    color: white;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.github-box {
    background-color: #333;
    color: var(--color-light);
}

.twitter-box {
    background-color: #00acee;
    color: var(--color-light);
}

.facebook-box {
    background-color: #3b5998;
    color: var(--color-light);
}

.youtube-box {
    background-color: #c4302b;
    color: var(--color-light);
}

.grayscale {
    background-color: gray;
    color: var(--color-dark);
}

.hidden {
    display: none;
}
